@import '../abstract/var';
/*************************************************************/
/*                   layout/_feature.scss                    */
/*************************************************************/

.feature {
    @include section-center;
    
    background-color: $color-gray-light-1;
    
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon {
        margin-bottom: 2rem;
        width: 5rem;
        height: 5rem;
    }

    &__text {
        margin-top: 1rem;
    }
}