// --------- color --------- //
$color-primary: #4CAF50;
$color-primary-light: #5eca61;
$color-primary-dark: #388E3C;

$color-secondary: #FF4081;


$color-white: #fff;

$color-gray-light-1: #f9f9f9;
$color-gray-light-2: #BDBDBD;

$color-gray-dark-2: #757575;
$color-gray-dark-1: #212121;

$color-black: #000;

// ----- border radius ----- //
$border-radius: 3rem;

// -------- margin --------- //
$m-body: 3rem;

// -------- padding -------- //
$p-nav: 1rem;
$p-header: 5vh;
$ptb-section: 5rem;
$prl-section: 3rem;