@import '../abstract/var';
/*************************************************************/
/*                      base/_base.scss                      */
/*************************************************************/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    padding: $m-body;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    
    font-size: 62.5%;   // 1rem = 10px

    overflow-x: hidden;
}

body {
    flex: 100%;

    background-color: $color-white;
    border-radius: $border-radius;
    @include shadow(light);
    
    direction: rtl;
    font-family: vazir, tahoma, arial,'sans-serif';
    font-size: 1.4rem;
    line-height: 1.5;

    overflow-x: hidden;
}